@import './variables.scss';

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s $ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.4s $ease;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-24px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(24px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.4s $ease;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(16px);
}

.breadcrumb-move {
  transition: all 0.4s $ease;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* scale fade */
.scale-fade-enter-active,
.scale-fade-leave-active {
  transition: all 0.3s $ease-out;
}

.scale-fade-enter,
.scale-fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* slide fade */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s $ease-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(8px);
}
